name: build

on:
  push:
    branches: [ main, '[0-9]+.[0-9]+.x' ]
  pull_request:
    branches: [ main, '[0-9]+.[0-9]+.x' ]
  workflow_call:
  workflow_dispatch:

env:
  CMAKE_C_COMPILER_LAUNCHER: ccache
  CMAKE_CXX_COMPILER_LAUNCHER: ccache
  CCACHE_COMPILERCHECK: content
  CCACHE_BASEDIR: ${{ github.workspace }}
  CCACHE_DIR: ${{ github.workspace }}/.ccache
  CCACHE_MAXSIZE: 500M
  CCACHE_SLOPPINESS: pch_defines,time_macros,include_file_mtime,include_file_ctime
  CCACHE_COMPRESS: "1"
  CCACHE_COMPRESSLEVEL: "1"

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        include:
          - {os: ubuntu-24.04, cxx: g++, doc: OFF}
          - {os: ubuntu-24.04, cxx: clang++, doc: ON}

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - uses: actions/cache/restore@v4
      with:
        path: ${{ env.CCACHE_DIR }}
        key: ccache-${{ matrix.os }}-${{ matrix.cxx }}-${{ github.run_id }}-${{ github.run_attempt }}
        restore-keys: |
          ccache-${{ matrix.os }}-${{ matrix.cxx }}-

    - name: Set cxx variables
      run: |
        if [[ ${{ matrix.os }} == 'macos-15' && ${{ matrix.cxx }} == 'g++' ]]; then
          echo "CXX=g++-15" >> $GITHUB_ENV
        else
          echo "CXX=${{ matrix.cxx }}" >> $GITHUB_ENV
        fi

    - name: Install ubuntu dependencies
      if: ${{ contains(matrix.os, 'ubuntu') }}
      run: >
        sudo apt-get update &&
        sudo apt-get install lsb-release wget software-properties-common &&
        sudo apt-get install
        ccache
        cmake
        ninja-build
        clang
        clang-tools
        g++
        hdf5-tools
        libblas-dev
        libc++-dev
        libc++abi-dev
        libomp-dev
        libhdf5-dev
        libopenblas-dev
        libopenmpi-dev
        openmpi-bin
        openmpi-common
        openmpi-doc
        pandoc
        python3
        python3-pip
        python3-sphinx
        python3-sphinx-rtd-theme
        python3-nbsphinx
        python3-myst-parser
        python3-linkify-it
        doxygen

    - name: Set up virtualenv
      run: |
        mkdir -p $HOME/.venv
        python3 -m venv --system-site-packages $HOME/.venv/my_python
        source $HOME/.venv/my_python/bin/activate
        echo "VIRTUAL_ENV=$VIRTUAL_ENV" >> $GITHUB_ENV
        echo "PATH=$PATH" >> $GITHUB_ENV

    - name: Install homebrew dependencies
      if: ${{ contains(matrix.os, 'macos') }}
      run: |
        brew update
        brew install ccache gcc llvm hdf5 open-mpi openblas
        echo "PATH=$(brew --prefix llvm)/bin:$(brew --prefix gcc)/bin:$PATH" >> $GITHUB_ENV
        echo "SDKROOT=$(xcrun --show-sdk-path)" >> $GITHUB_ENV
        echo "LDFLAGS=-L$(brew --prefix llvm)/lib/c++ -L/opt/homebrew/opt/llvm/lib/unwind -lunwind" >> $GITHUB_ENV

    - name: Add clang CXXFLAGS
      if: ${{ matrix.cxx == 'clang++' }}
      run: |
        echo "CXXFLAGS=-stdlib=libc++" >> $GITHUB_ENV

    - name: Build cppdlr
      run: |
        cmake -S . -B build -G Ninja -DCMAKE_INSTALL_PREFIX=$HOME/install -DBuild_Documentation=${{ matrix.doc }}
        cmake --build build --verbose

    - name: Test cppdlr
      env:
        OPENBLAS_NUM_THREADS: "1"
      run: |
        cd build
        ctest -j2 --output-on-failure

    - name: ccache statistics
      if: always()
      run: ccache -sv

    - uses: actions/cache/save@v4
      if: always()
      with:
        path: ${{ env.CCACHE_DIR }}
        key: ccache-${{ matrix.os }}-${{ matrix.cxx }}-${{ github.run_id }}-${{ github.run_attempt }}

    - name: Deploy documentation to website
      if: matrix.doc == 'ON' && github.event_name == 'push'
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: build/doc/html
        branch: github.io
        target-folder: docs/${{ github.ref_name }}
