name: build

on:
  push:
    branches: [ unstable, '[0-9]+.[0-9]+.x' ]
  pull_request:
    branches: [ unstable, '[0-9]+.[0-9]+.x' ]
  workflow_call:
  workflow_dispatch:

env:
  CMAKE_C_COMPILER_LAUNCHER: ccache
  CMAKE_CXX_COMPILER_LAUNCHER: ccache
  CCACHE_COMPILERCHECK: content
  CCACHE_BASEDIR: ${{ github.workspace }}
  CCACHE_DIR: ${{ github.workspace }}/.ccache
  CCACHE_MAXSIZE: 500M
  CCACHE_SLOPPINESS: pch_defines,time_macros,include_file_mtime,include_file_ctime
  CCACHE_COMPRESS: "1"
  CCACHE_COMPRESSLEVEL: "1"

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        os:  [ubuntu-24.04, macos-15]
        cxx: [g++, clang++]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - uses: actions/cache/restore@v4
      with:
        path: ${{ env.CCACHE_DIR }}
        key: ccache-${{ matrix.os }}-${{ matrix.cxx }}-${{ github.run_id }}-${{ github.run_attempt }}
        restore-keys: |
          ccache-${{ matrix.os }}-${{ matrix.cxx }}-

    - name: Set cxx variables
      run: |
        if [[ ${{ matrix.os }} == 'macos-15' && ${{ matrix.cxx }} == 'g++' ]]; then
          echo "CXX=g++-15" >> $GITHUB_ENV
        else
          echo "CXX=${{ matrix.cxx }}" >> $GITHUB_ENV
        fi

    - name: Install ubuntu dependencies
      if: ${{ contains(matrix.os, 'ubuntu') }}
      run: >
        sudo apt-get update &&
        sudo apt-get install lsb-release wget software-properties-common &&
        sudo apt-get install
        ccache
        cmake
        ninja-build
        clang
        clang-tools
        g++
        gfortran
        hdf5-tools
        libboost-dev
        libclang-dev
        libc++-dev
        libc++abi-dev
        libomp-dev
        libfftw3-dev
        libgfortran5
        libgmp-dev
        libhdf5-dev
        libopenblas-dev
        libopenmpi-dev
        openmpi-bin
        openmpi-common
        openmpi-doc
        python3-clang
        python3-dev
        python3-mako
        python3-matplotlib
        python3-mpi4py
        python3-numpy
        python3-pip
        python3-scipy
        python3-ipython

    - name: Set up virtualenv
      run: |
        mkdir -p $HOME/.venv
        python3 -m venv --system-site-packages $HOME/.venv/my_python
        source $HOME/.venv/my_python/bin/activate
        echo "VIRTUAL_ENV=$VIRTUAL_ENV" >> $GITHUB_ENV
        echo "PATH=$PATH" >> $GITHUB_ENV

    - name: Install homebrew dependencies
      if: ${{ contains(matrix.os, 'macos') }}
      run: |
        brew update
        brew install ccache gcc llvm boost fftw hdf5 open-mpi openblas
        pip install mako numpy scipy mpi4py
        pip install -r requirements.txt
        echo "PATH=$(brew --prefix llvm)/bin:$(brew --prefix gcc)/bin:$PATH" >> $GITHUB_ENV
        echo "PYTHONPATH=$(brew --prefix llvm)/lib/python3.13/site-packages" >> $GITHUB_ENV
        echo "SDKROOT=$(xcrun --show-sdk-path)" >> $GITHUB_ENV
        echo "LDFLAGS=-L$(brew --prefix llvm)/lib/c++ -L/opt/homebrew/opt/llvm/lib/unwind -lunwind" >> $GITHUB_ENV

    - name: Add clang CXXFLAGS
      if: ${{ matrix.cxx == 'clang++' }}
      run: |
        echo "CXXFLAGS=-stdlib=libc++" >> $GITHUB_ENV

    - name: Build & Install TRIQS
      env:
        TRIQS_BRANCH: ${{ github.event_name == 'pull_request' && github.base_ref || github.ref_name }}
      run: |
        git clone https://github.com/TRIQS/triqs --branch "$TRIQS_BRANCH"
        cmake -S triqs -B triqs/build -G Ninja -DBuild_Tests=OFF -DCMAKE_INSTALL_PREFIX=$HOME/install
        cmake --build triqs/build --target install --verbose

    - name: Build app4triqs
      run: |
        source $HOME/install/share/triqs/triqsvars.sh
        cmake -S . -B build -G Ninja
        cmake --build build --verbose

    - name: Test app4triqs
      env:
        OPENBLAS_NUM_THREADS: "1"
      run: |
        source $HOME/install/share/triqs/triqsvars.sh
        cd build
        ctest -j2 --output-on-failure

    - name: ccache statistics
      if: always()
      run: ccache -sv

    - uses: actions/cache/save@v4
      if: always()
      with:
        path: ${{ env.CCACHE_DIR }}
        key: ccache-${{ matrix.os }}-${{ matrix.cxx }}-${{ github.run_id }}-${{ github.run_attempt }}
